 body,
        a{
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        
        a {
            color: skyblue;
            margin-left: 10px;
        }
        h1 {
            margin:20px;
            text-align: center;
        }
        
        .wrapper {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url("../image/1.jpg") center;
        }
        
        .content-side {
            width: auto;
            height: auto;
            border: 1px solid #666;
            background-color: white;
        }
        
        table{
         width:auto;
         margin:30px auto;
         font-size: 18px;
        }
        .input{
          height: 30px;
          text-indent: 10px;
          margin-right: 8px;
        }
       
        .zhixu{
         display: flex;
         justify-content: center;
        }
        
        #loginBtn{
         padding:8px 16px;
         border-radius: 8px;
         border: 1px solid #666;
         outline: none;
        }
        #loginBtn:hover{
         cursor: pointer;
        }
        .imageCode{
         background-color: transparent;
         color: skyblue;
         border:0;
         outline: none;
        }
        .imageCode:hover{
         cursor: pointer;
        }          